*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    height: 100%;
}

img {
    display: block;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #E5E9F2;
}

.header-container {
    display: flex;
    align-items: center;
    width: 1110px;
    margin: 0 auto;
}

.logo {
    margin-right: 40px;
}

.nav {
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    color: #18191F;
}

.nav-link {
    color: #18191F;
    text-decoration: none;
    margin-right: 32px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-link:hover {
    color:#8C30F5;
}

.appstore {
    margin-left: auto;
}

.appstore {
    display: flex;
    margin-left: auto;
}

.appstore-item {
    margin-left: 12px;
}

.appstore-item:first-child {
    margin-left: 0px;
}

.main {

}

.main-container {
    display: flex;
    width: 1110px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 197px;
    padding-bottom: 197px;
}

.main-content {
    color: #18191F;
    font-size: 18px;
}

.main-img {

}

.main-header {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 72px;
    line-height: 1.36;
    color: #18191F;
    font-feature-settings: 'liga' off;
}

.main-text p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.78;
}

.main-text {
    margin-bottom: 32px;
}

.button {
    padding-left: 35px;
    padding-right: 35px;
    display: inline-block;
    height: 62px;
    background-color: #8C30F5;
    border-radius: 8px;
    font-weight: bold;
    font-size: 20px;
    line-height: 62px;
    color: #FFFFFF;
    text-decoration: none;
}

.button:hover {
    opacity: 0.8;
}

.footer {
    display: flex;
    align-items: center;
    height: 72px;
    background: #0B0D17;
    color: #D9DBE1;
}

.footer-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-size: 14px;
}

.footer-socials {
    display: flex;
}

.footer-socials-item {
    margin-left: 16px;
}